<fieldset class="fieldset collapse">
  <include
    src="./legend.html"
    class="js_legendFill"
    icon="far fa-keyboard item--icon"
    title="Rellena"
  ></include>

  <div class="form js_collapsible">
    <label class="form__label" for="fullName">Nombre completo</label>
    <input
      class="form__label--input"
      placeholder="Ej:Mari Puri López"
      type="text"
      id="fullName"
      name="fullName"
    />
    <label class="form__label" for="position">Puesto</label>
    <input
      class="form__label--input"
      placeholder="Ej:Master and Commander"
      type="text"
      id="position"
      name="position"
    />
    <label class="form__label" for="image">Imagen de perfil</label>
    <div class="form__label--wrapper">
      <div class="button">Añadir imagen</div>
      <div class="imgPreview"></div>
    </div>

    <label class="form__label" for="emailAdress">Email</label>
    <input
      class="form__label--input"
      placeholder="Ej:maripuri@lamaster.com"
      type="email"
      id="emailAdress"
      name="emailAdress"
    />
    <label class="form__label" for="phone">Teléfono</label>
    <input
      class="form__label--input"
      placeholder="Ej:+34 611661234"
      type="text"
      id="phone"
      name="phone"
    />
    <label class="form__label" for="linkedIn">LinkedIn</label>
    <input
      class="form__label--input"
      placeholder="Ej:linkedin.com/es/lamari.master"
      type="text"
      id="linkedIn"
      name="linkedIn"
    />
    <label class="form__label" for="gitHub">Github</label>
    <input
      class="form__label--input"
      placeholder="Ej:@lamari"
      type="text"
      id="gitHub"
      name="gitHub"
    />
  </div>
</fieldset>
