<section class="preview">
  <a class="preview__btn" href="#">
    <i class="far fa-trash-alt"></i>
    Reset
  </a>
  <article class="preview__article">
      <div class="preview__article--container">
          <div class="preview__article--rectangle"></div>
          <h2 class="preview__article--name">Nombre Apellido</h2>
          <h3>Font-end developer</h3>
      </div>
      <img src="./assets/img/img_card.jpg" alt="Imagen de la tarjeta" title="Imagen de la tarjeta">
      <i class="fa-solid fa-mobile-screen-button"></i>
      <i class="fa-regular fa-envelope"></i>
      <i class="fa-brands fa-linkedin-in"></i>
      <i class="fa-brands fa-github-alt"></i>
  </article>
</section>
