<button class="preview__btn">
  <i class="far fa-trash-alt"></i>
  Reset
</button>
<article class="preview__article">
  <div class="preview__article--container">
    <div class="preview__article--rectangle"></div>
    <h2 class="preview__article--name">Nombre Apellido</h2>
    <h3 class="preview__article--job">Font-end developer</h3>
  </div>
  <div class="preview__article--img"></div>
  <div class="container">
    <div class="container-icon">
      <i class="fas fa-mobile-alt"></i>
    </div>
    <div class="container-icon">
      <i class="far fa-envelope"></i>
    </div>
    <div class="container-icon">
      <i class="fab fa-linkedin-in"></i>
    </div>
    <div class="container-icon">
      <i class="fab fa-github-alt"></i>
    </div>
  </div>
</article>
