@mixin formtext() {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 20px;
    color: $darkgreen;
  }
  
  @mixin landingMainText () {
      font-size: 13px;
      font-family: "Open Sans", sans-serif;
      text-align: center;
      color: $darkgreen;
  }
  
  @mixin columnCentered () {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }