.landingMain {
   @include columnCentered;
    
}
.landingMain__logo {
    width: 250px;
    height: 63px;
    margin: auto;
}

.containerText {
    &__title{
        font-family: 'Merriweather', serif;
        font-size: 19px;
        text-align: center;
        color: $orange;    
    }
    &__text{
        font-family: "Open Sans", sans-serif;;
        font-size: 13px;
        color: $darkgreen;
        text-align: center;
    }
}

.containerLinks {
    border: 1.5px solid $orange;
    opacity: 0.21;
    border-radius: 4px;
}


