.legend {
  display: flex;
  justify-content: space-between;
  width: 75vw;
  height: 24px;
  &__iconTitle {
    display: flex;
    justify-content: flex-start;
    font-family: $mainfont;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: $darkgray;
  }
}
